In [27]:
pip install textblob

Collecting textblob
  Downloading https://files.pythonhosted.org/packages/60/f0/1d9bfcc8ee6b83472ec571406bd0dd51c0e6330ff1a51b2d29861d389e85/textblob-0.15.3-py2.py3-none-any.whl (636kB)
     |████████████████████████████████| 645kB 1.3MB/s eta 0:00:01
Requirement already satisfied: nltk>=3.1 in /Users/saurin/.local/lib/python3.7/site-packages (from textblob) (3.5)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.7/site-packages (from nltk>=3.1->textblob) (0.13.2)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.7/site-packages (from nltk>=3.1->textblob) (7.0)
Requirement already satisfied: regex in /Users/saurin/.local/lib/python3.7/site-packages (from nltk>=3.1->textblob) (2020.4.4)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.7/site-packages (from nltk>=3.1->textblob) (4.36.1)
Installing collected packages: textblob
Successfully installed textblob-0.15.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from textblob import TextBlob

In [2]:
df = pd.read_csv('IMDB Dataset.csv')
df

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [4]:
movies = df
df_1['sentiment'].replace(to_replace='positive', value=1, inplace=True)
df_1['sentiment'].replace(to_replace='negative', value=0, inplace=True)

NameError: name 'df_1' is not defined

In [17]:
movies

                                                  review  sentiment
0      One of the other reviewers has mentioned that ...          1
1      A wonderful little production. <br /><br />The...          1
2      I thought this was a wonderful way to spend ti...          1
3      Basically there's a family where a little boy ...          0
4      Petter Mattei's "Love in the Time of Money" is...          1
...                                                  ...        ...
49995  I thought this movie did a down right good job...          1
49996  Bad plot, bad dialogue, bad acting, idiotic di...          0
49997  I am a Catholic taught in parochial elementary...          0
49998  I'm going to have to disagree with the previou...          0
49999  No one expects the Star Trek movies to be high...          0

[50000 rows x 2 columns]

In [18]:
movies.sentiment.value_counts()

1    25000
0    25000
Name: sentiment, dtype: int64

In [19]:
# Length of the revirew

length_reviews = movies.review.str.len()

In [35]:
longest_review = max(length_reviews)

In [24]:
print(f'Longest review: {max(length_reviews)}')
print(f'Shortest review: {min(length_reviews)}')

Longest review: 13704
Shortest review: 32

In [32]:
blob_titanic = TextBlob(longest_review)
print(blob_titanic.sentiment)

TypeError: The `text` argument passed to `__init__(text)` must be a string, not <class 'int'>

In [36]:
illuminated = 'I am not sad, he would repeat to himself over and over, \n
I am not sad. As if he might one day convince himself or convince others -- \n
the only thing worse than being sad is for others to know that you are sad. I am not sad.'

SyntaxError: EOL while scanning string literal (<ipython-input-36-0bf7bbf5811d>, line 1)